<div class="share-container" ng-class="{true: 'visible'}[beaconState.map.isVisible]">

    <!-- Map -->
    <div
        id="map-canvas"
        ui-map="beaconMap"
        ui-options="mapOptions"
        ui-event="{'map-idle': 'mapReady()'}"
        class="map-canvas">
    </div>

    <!-- Name box -->
    <div class="name-container">
        <input
            type="text"
            ng-model="user.name"
            ng-show="!shareName"
            ng-change="updateUrl(user.name)"
            placeholder="Name"
        />

        <h2 ng-show="shareName">{{shareName}}</h2>
    </div>

    <!-- Action Button -->
    <div class="button-container">
        <a class="button" href="{{url.email}}" ng-show="!shareName">Share Location</a>
        <a class="button" href="{{mapsUrl}}" ng-show="shareName">Navigate to beacon</a>
    </div>
</div>